{% extends 'Admin/base.html.twig' %}
{% block title %}CMS-Qa Management{% endblock %}

{% block toolbar %}
    {% embed 'Admin/partials/toolbar.html.twig' %}
        {% block toolbar_title %}Qa Management{% endblock toolbar_title %}

        {% block toolbar_breadcrumbs %}
            <!--begin::Item-->
            <li class="breadcrumb-item text-muted">
                <a href="#" class="text-muted text-hover-primary">Qa</a>
            </li>
            <!--end::Item-->
        {% endblock toolbar_breadcrumbs %}

        {% block toolbar_button_actions %}
            <a href="{{ path('app_admin_qa_add') }}"
               data-amz-btn-open-modal
               class="btn btn-sm fw-bold btn-primary">Create</a>
        {% endblock toolbar_button_actions %}
    {% endembed %}
{% endblock %}

{% block body %}
    {{ component('TableQaLiveComponent', {'id': "TableQaLive"}) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('plugins/ckeditor/ckeditor.js')  }}"></script>
{% endblock %}