{% macro sidebar_page_icon(size = '2') %}
    <i class="ki-duotone ki-element-7 fs-{{ size }}">
        <span class="path1"></span>
        <span class="path2"></span>
    </i>
{% endmacro %}

{% macro sidebar_dashboard_icon(size = '2') %}
    <i class="ki-duotone ki-element-11 fs-{{ size }}">
        <span class="path1"></span>
        <span class="path2"></span>
        <span class="path3"></span>
        <span class="path4"></span>
    </i>
{% endmacro %}


