{% import 'Admin/partials/macros.html.twig' as macros %}
<div class="table-responsive table-loading overflow-auto mh-500px">
{#    <div class="table-loading-message">#}
{#        Loading...#}
{#    </div>#}
    <table class="table table-striped table-rounded border border-gray-300 table-row-bordered table-row-gray-300 gy-7 gs-7">
        <thead>
        <tr class="fw-semibold fs-6 text-gray-800 ">
            {{ macros.table_column_action() }}
            {% block columns %}{% endblock %}
        </tr>
        </thead>
        <tbody>
        {% block rows %} {% endblock %}
        </tbody>
    </table>
</div>