<div class="d-flex gap-2 align-items-center mb-3 setting-val-item">
    <div class="w-100 w-md-200px">
        {{ form_widget(item.key, {attr: {class: "form-control fs-7", placeholder: "Enter key"}}) }}
    </div>
    <div class="w-100 w-md-200px">
        {{ form_widget(item.value, {attr: {class: "form-control fs-7", placeholder: "Enter value"}}) }}
    </div>
    <div class="d-flex gap-2 justify-content-end">
        <button type="button"  class="btn btn-sm btn-icon btn-light-danger" data-action="click->Admin--setting-add#removeItem">
            <i class="ki-duotone ki-cross fs-1">
                <span class="path1"></span>
                <span class="path2"></span>
            </i>
        </button>
    </div>
</div>