{% extends 'Admin/base.html.twig' %}
{% block title %}Setting Management{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('/styles/setting.css') }}">
{% endblock %}

{% block toolbar %}
    {% embed 'Admin/partials/toolbar.html.twig' %}
        {% block toolbar_title %}Setting Management{% endblock toolbar_title %}

        {% block toolbar_breadcrumbs %}
            <!--begin::Item-->
            <li class="breadcrumb-item text-muted">
                <a href="#" class="text-muted text-hover-primary">Setting</a>
            </li>
            <!--end::Item-->
        {% endblock toolbar_breadcrumbs %}

        {% block toolbar_button_actions %}
            <div>
                <button class="btn btn-primary" onclick="openSettingForm('size')"  >+ Thêm cài đặt</button>
                <button class="btn btn-primary" onclick="openSettingForm('common')" >+ Thêm Common</button>
                <button class="btn btn-primary" onclick="openSettingForm('image')"  >+ Thêm Img</button>
            </div>
        {% endblock toolbar_button_actions %}
    {% endembed %}
{% endblock %}

{% block body %}

    {{ component('TableSettingLiveComponent', {'id': "TableSettingLive"}) }}
    <div id="formModal" class="modal" style="display: none;">
        <div class="modal-content">
            <div class="modal-header">
                <h2>Thêm cài đặt mới</h2>
                <button class="close" onclick="document.getElementById('formModal').style.display='none'">×</button>
            </div>
            <div class="modal-body" id="formContainer">

            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        function openSettingForm(type) {
            fetch(`/cms/setting/add?type=${type}`)
                .then(response => response.text())
                .then(html => {
                    document.getElementById('formContainer').innerHTML = html;
                    document.getElementById('formModal').style.display = 'block';
                });
        }

        function editSetting(id, type) {
            fetch(`/cms/setting/edit/${id}?type=${type}`)
                .then(response => response.text())
                .then(html => {
                    document.getElementById('formContainer').innerHTML = html;
                    document.getElementById('formModal').style.display = 'block';
                });
        }

    </script>
{% endblock %}
