
<body suported-aos> <!--class="colorMode" suported-aos-->

<nav class="navbar navbar-expand-xl sticky-top" id="mynavbar">

    <div class="container-xxl">

        <a class="logo-brand me-xl-5 me-0" href="index.html">

            <img src="{{ asset('frontend/img/logo.svg') }}" class="logo-image img-fluid" alt="logo">

        </a>

        <div class="navbar-toggler-holder d-xl-none">

            <div class="top-menu d-flex d-xl	-none">
                <a class="nav-link" href="#" target="_blank"><i class="icon icon-facebook-ic"></i></a>
                <a class="nav-link" href="#" target="_blank"><i class="icon icon-linked-ic"></i></a>
                <a class="nav-link" data-bs-toggle="modal" data-bs-target="#openSearch"><i class="icon icon-search-ic"></i></a>
            </div>


            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">

                <span class="navbar-toggler-icon"><i class="zmdi zmdi-menu"></i></span>

                <span class="btn-close"><i class="zmdi zmdi-close"></i></span>

            </button>
        </div>

        <!-- top menu -->
        <ul class="top-menu">
            <li class="nav-item">

                <a class="nav-link" href="https://www.facebook.com/californiaprunesvietnam/" target="_blank"><i class="icon icon-facebook-ic"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://www.linkedin.com/company/californiaprunesvn" target="_blank"><i class="icon icon-linked-ic"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="modal" data-bs-target="#openSearch"><i class="icon icon-search-ic"></i></a>

            </li>
        </ul>


        <!-- main menu -->

        <div class="collapse navbar-collapse" id="navbarNav">


            <ul class="navbar-nav order-0 order-md-1">



                <li class="nav-item">

                    <a class="nav-link" href="recipes.html">Thực đơn</a>

                </li>

                <li class="nav-item dropdown">

                    <a class="nav-link dropdown-toggle" id="navbarLightDropdownMenuLink-00">Sống khoẻ</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li class="dropdown">
                            <a class="dropdown-item" href="benefits.html">Lợi ích sức khoẻ từ Mận khô</a>
                            <a class="dropdown-item" href="forkid.html">Đối với trẻ em</a>
                        </li>
                    </ul>

                </li>

                <li class="nav-item dropdown">

                    <a class="nav-link dropdown-toggle" id="navbarLightDropdownMenuLink-01">Về mận khô California</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li class="dropdown">
                            <a class="dropdown-item" href="growing-harvesting.html">Quy trình trồng và thu hoạch</a>
                            <a class="dropdown-item" href="different.html">Sự khác biệt</a>
                            <a class="dropdown-item" href="sustainability.html">Phát triển bền vững</a>
                            <a class="dropdown-item" href="board.html">Về Hiệp hội Mận khô California</a>
                            <a class="dropdown-item" href="faqs.html">Câu hỏi thường gặp</a>
                        </li>
                    </ul>

                </li>

                <li class="nav-item dropdown">

                    <a class="nav-link dropdown-toggle" id="navbarLightDropdownMenuLink-02">Đối tác</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li class="dropdown">
                            <a class="dropdown-item" href="trade.html">Thương mại và dịch vụ ẩm thực</a>
                            <a class="dropdown-item" href="products.html">Sản phẩm Mận khô California</a>
                            <a class="dropdown-item" href="list-handlers.html">Danh sách nhà xuất khẩu</a>
                        </li>
                    </ul>

                </li>



                <li class="nav-item">

                    <a class="nav-link" href="article.html">Tin tức</a>

                </li>

                <li class="nav-item">

                    <a class="nav-link" href="contact.html">Liên hệ</a>

                </li>


            </ul>


        </div>

    </div>

</nav>