<!-- Comment Form Modal -->
<div class="modal fade search" id="openSearch" tabindex="-1" aria-labelledby="search" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">

    <div class="modal-dialog modal-dialog-centered modal-lg">

        <div class="modal-content">
            <a class="btn close" data-bs-dismiss="modal" aria-label="Close"><i class="zmdi zmdi-close-circle"></i></a>


            <div class="modal-body">

                <form method="GET" class="form searchForm" action="search.html" id="searchForm" data-parsley-validate>

                    <div class="m-form">

                        <input name="Name" class="form-control" type="text" value="" aria-label=" input example" placeholder="Từ khoá" required="" data-parsley-required-message="Vui lòng nhập nội dung tìm kiếm">
                    </div>
                    <div class="m-form">
                        <button type="submit" class="btn"><i class="icon icon-search-ic"></i></button>
                    </div>
                </form>


            </div>

        </div>

    </div>

</div>