
<!-- Submit Contact Form Modal -->
<div class="modal fade success" id="success" tabindex="-1" aria-labelledby="success" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">

    <div class="modal-dialog modal-dialog-centered modal-md">

        <div class="modal-content">

            <div class="modal-body">


                <p class="text-center">Xin chúc mừng bạn đã đăng ký thành công! <strong>Mancali</strong> sẽ nhanh chóng liên hệ trong vòng 24h tới và gửi đến bạn những ưu đãi hấp dẫn. Xin cảm ơn!</p>


            </div>

            <div class="modal-footer">

                <a class="btn" data-bs-dismiss="modal" >Đóng</a>

            </div>

        </div>

    </div>

</div>