<main>
    {{ dump(block) }}
    <section class="block prune-block">
        <div class="container">

            <div class="card-large right">
                <img src="assets/img/grow/grow-01.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Chất lượng vượt trội, tiêu chuẩn toàn cầu</h5>
                    <div class="card-text tool-editor">
                        <p>California giữ vững vị thế dẫn đầu toàn cầu trong ngành mận khô nhờ khí hậu lý tưởng, đất đai màu mỡ, kỹ thuật canh tác tiên tiến và bề dày kinh nghiệm trồng trọt suốt hơn 150 năm.</p>
                    </div>
                    <!--<a href="#" class="btn btn-primary">KHÁM PHÁ</a>-->
                </div>
            </div>
            <div class="card-large">
                <img src="assets/img/grow/grow-02.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Vườn mận dưới nắng gió California</h5>
                    <div class="card-text tool-editor">
                        <p>Hầu hết mận khô California ngày nay đều có nguồn gốc từ một giống mận khô của Pháp, được ghép lên gốc mận dại tại California. Giống mận này được phát triển chuyên biệt để tạo ra mận khô chất lượng cao. Khi người trồng mận khô tại California trồng một cây mận, họ cần chờ từ 4 đến 6 năm để thấy “trái ngọt” từ công sức bỏ ra – theo nghĩa đen! Ngay cả khi đó, cây vẫn cần từ 8 đến 12 năm để đạt năng suất tối đa, từ 150 đến 300 pound quả tươi mỗi năm. Khi đã ổn định, một vườn mận có thể cung cấp sản lượng mận khô ổn định trong khoảng 30 năm.</p>
                    </div>
                    <!--<a href="#" class="btn btn-primary">KHÁM PHÁ</a>-->
                </div>
            </div>

            <div class="card-large right">
                <img src="assets/img/grow/grow-03.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Hương vị của một mùa bội thu</h5>
                    <div class="card-text tool-editor">
                        <p>Cây mận khô là loại cây rụng lá, ngủ đông vào mùa đông. Đây là thời gian để người nông dân cắt tỉa thủ công, giúp định hình cây, kiểm soát kích thước quả và duy trì sự phát triển khỏe mạnh. Nhờ vậy, chỉ những quả mận chất lượng cao nhất được thu hoạch.</p>
                        <p>Mùa xuân, vườn mận California phủ đầy hoa trắng thơm ngát. Chỉ sau một tuần, hoa rụng và những quả non bắt đầu hình thành cùng với chồi lá mới xanh mướt.</p>
                        <p>Vào mùa hè, nông dân tưới tiêu chính xác nhờ công nghệ tiên tiến, cung cấp nước đúng lúc, đúng nơi để cây phát triển tốt nhất.</p>
                    </div>
                    <!--<a href="#" class="btn btn-primary">KHÁM PHÁ</a>-->
                </div>
            </div>
            <div class="card-large">
                <img src="assets/img/grow/grow-04.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Quy trình đóng gói, chế biến, vận chuyển</h5>
                    <div class="card-text tool-editor">
                        <p>Quá trình chuyển mận tươi vừa thu hoạch đến máy sấy diễn ra nhanh chóng, không để lãng phí thời gian; ba pound mận tươi sẽ trở thành một pound mận khô California. Sau khi được rửa sạch kỹ lưỡng và xếp trên các khay gỗ lớn, quả sẽ được sấy khô qua một chuỗi các bước tự động, khoa học và hoàn toàn vệ sinh, nhằm tối ưu hiệu quả đồng thời bảo vệ chất lượng sản phẩm. Hệ thống sấy phức tạp này chính do các nhà trồng mận California tự phát triển và hoàn thiện.</p>
                        <p>Mận khô được nghỉ trong các đường hầm điều chỉnh khí hậu, theo thời gian và mức độ khử nước chính xác. Từ máy sấy, mận được chuyển đến các nhà máy đóng gói hiện đại, nơi nhân viên có kinh nghiệm kiểm tra, phân loại kích thước và lưu trữ trước khi tiến hành xử lý và đóng gói cuối cùng. Chúng được bảo quản trong kho lạnh cho đến khi cần xử lý tiếp.</p>
                        <p>Khác với đa số hoa quả chế biến khác, phần lớn mận khô California được đóng gói theo đơn đặt hàng. Trước khi đóng gói vận chuyển, mận sẽ được ngâm hồi nước, tiệt trùng, kiểm tra lần cuối rồi mới được đóng gói.</p>
                    </div>
                    <!--<a href="#" class="btn btn-primary">KHÁM PHÁ</a>-->
                </div>
            </div>

        </div>
    </section>

    <section class="prune-next">
        <div class="container maxW-800">
            <div class="heading">
                <h2 class="title underline">SỰ KHÁC BIỆT CỦA MẬN CALIFORNIA</h2>
                <div class="text tool-editor">
                    <p style="color: black;">Không nơi nào trên thế giới thích hợp để trồng mận hơn những thung lũng xanh tươi của California, nơi cây cối bén rễ trong lớp đất được nuôi dưỡng bởi các dòng sông cổ xưa và luôn ngập tràn ánh nắng.</p>
                </div>
                <a href="different.html" class="btn btn-primary">KHÁM PHÁ</a>
            </div>
        </div>
    </section>

</main>
