<section class="block article list">
    <div class="container maxW-1180">
        {{ component('EndUser:TableArticleLiveComponent', {"id": "TableArticleLive", 'type': article_type_news}) }}
    </div>
</section>