<section class="block prune-titlepage" style="background-image: url('{{ asset(block.background) }}');">
    <div class="container">
        <h1 class="title">{{ block.title }}</h1>
    </div>
</section>