{% extends 'Admin/base.html.twig' %}
{% block title %}CMS- Recipe Article Management{% endblock %}

{% block toolbar %}
    {% embed 'Admin/partials/toolbar.html.twig' %}
        {% block toolbar_title %}Recipe Article{% endblock toolbar_title %}

        {% block toolbar_breadcrumbs %}
            <!--begin::Item-->
            <li class="breadcrumb-item text-muted">Recipe Article</li>
            <!--end::Item-->
        {% endblock toolbar_breadcrumbs %}

        {% block toolbar_button_actions %}
            <a href="{{ path('app_admin_article_add', {'type': type}) }}"
               class="btn btn-sm fw-bold btn-primary">Create</a>
        {% endblock toolbar_button_actions %}
    {% endembed %}
{% endblock %}

{% block body %}
    {{ component('TableArticleLiveComponent', {'id': "TableArticleLive", 'type': type}) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}