{% extends 'Client/base.html.twig' %}

{% block title %}California Prunes Vietnam{% endblock %}

{% block content %}
    <main>

        {% include 'Client/views/contact/components/page_title.html.twig' with {
            bg: 'frontend/img/bg/page-contact.webp',
            title: 'Liên hệ'
        } %}

        <section class="block prune-block prune-contact">
            <div class="container maxW-960">
                {% include 'Client/views/contact/components/contact_info.html.twig' %}

                {% include 'Client/views/contact/components/contact_form.html.twig' with { form: form } %}

            </div>
        </section>

    </main>

    {% include 'Client/views/contact/components/feedback_ui.html.twig' %}
{% endblock %}
