<!DOCTYPE html>
<html lang="vi">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/png" href="{{ asset('themes/mancali/assets/img/favicon.png') }}">
        <link rel="apple-touch-icon" href="{{ asset('themes/mancali/assets/img/favicon.png') }}">

        <!-- SEO Config -->
        <meta http-equiv="content-language" content="" />
        <title>California Prunes Vietnam</title>
        <meta name="title" content="">
        <meta name="description" content="">
        <link rel="canonical" href="">

        <meta property="og:locale" content="">
        <meta property="og:type" content="">
        <meta property="og:url" content="">
        <meta property="og:title" content="">
        <meta property="og:description" content="">
        <meta property="og:image" content="">

        <link href="{{ asset('themes/mancali/assets/css/main.css') }}" rel="stylesheet">
        {% block importmapp %}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        <script src="{{ asset('themes/mancali/assets/js/main.js') }}"></script>
    </body>
</html>
