<div{{ attributes }}>
    {% set content = block.content | json_decode %}
    {% if content.listingItem is defined and content.listingItem is not empty %}
        {% for item in content.listingItem %}
            {{ include(template) }}
        {% endfor %}
    {% endif %}
</div>
