{% extends 'Admin/base.html.twig' %}

{% block title %}CMS - Edit Gallery{% endblock %}

{% block body %}
    {{ form_start(form, { action: path('app_admin_gallery_edit', {'id': gallery.id}), attr: { class: "form d-flex flex-column flex-row-fluid" } }) }}

    <div class="card card-flush py-4">
        <div class="card-header">
            <div class="card-title">
                <h2>Edit Gallery</h2>
            </div>
        </div>

        <div class="card-body pt-0">

            <div class="mb-10 fv-row">
                <label class="form-label">Gallery Name</label>
                {{ form_widget(form.name, { attr: { class: "form-control" } }) }}
            </div>

        </div>

        <div class="card-footer d-flex justify-content-end">
            <button type="submit" class="btn btn-primary me-3">Lưu</button>
            <button type="button" class="btn btn-secondary" onclick="document.getElementById('formModal').style.display='none'">Hủy</button>
        </div>
    </div>

    {{ form_end(form) }}
{% endblock %}
