{% embed 'Admin/partials/modal.html.twig' %}
    {% block title %}Add Static Block for Page({{ page.name }}){% endblock %}
    {% block modalClass %}modal-dialog-centered p-10 mw-900px{% endblock %}
    {% block body %}
        {{ form_start(form) }}
        <div class="fv-row mb-7">
            <!--begin::Label-->
            <label class="required fs-6 fw-semibold mb-2">Static blocks</label>
            <!--end::Label-->
            <!--begin::Input-->
            {{ form_widget(form.post.blocks) }}
            <!--end::Input-->
        </div>
        <button type="button" class="btn btn-primary"
                data-action="click->Admin--block-add#onSubmit">Save changes</button>
        {{ form_end(form) }}
    {% endblock %}
{% endembed %}